.container-fluid
{
    width: 700px;
    padding: 0px; 
    height: 400px;
    margin-bottom: 0px;
    
}
form{
    top:10vh;
    position: absolute;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    width: 700px;
    box-shadow: 0px 0px 10px black;
  
   
}