
<div style="margin: 0px; padding: 10PX;background-image: url('./assets/2016-03-03-1457016290-2602870-Nelson_csed.jpg'); background-attachment: fixed;
background-size: cover;min-height: 600px;">
<div class="row mt-4">
    <div class="col-md-4 mb-3" *ngFor="let course of cources">
     <div class="card text-center">
         <div class="card-body" style=" background: rgb(0, 0, 0);
         background: rgba(0, 0, 0, 0.5);
         color: #f1f1f1;position: absolute;">
             <h5 class="card-title">
               {{course.courseName}}
             </h5>
             <p class="card-text">
                Definition of content subject
: a subject (as history, geography, science) studied in order to acquire a certain body of information rather than to achieve competence in a skill (as penmanship, typing, or composition)
             <a href="#" class="btn btn-primary">Subjects</a>
             </p>
         </div>
    </div>
    </div>
</div>
</div>